.top-nav {
  background-color: rgba(245, 239, 239, 0.123);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 50px;
  padding: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Times new roman", Helvetica, serif;
  font-size: 16px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.top-arrow {
  position: relative;
  bottom: 5px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  margin-top: 20px;
}

#toparrow {
  color: black;
  background-color: #fff;
}

.header-container {
  height: 100vh;
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position-x: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 45%;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
}
.profile__description {
  width: auto;
  height: auto;
  background-color: rgb(211, 211, 211);
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 20px;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.profile__quote {
  font-size: 28px;
  color: black;
  padding-top: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

img {
  width: 35%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

footer {
  height: 100%;
  width: 100%;
  background-color: black;
  font-size: 1.2rem;
}
footer ul {
  list-style-type: none;
}
footer .adress {
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

h4,
h2,
li,
p {
  color: white;
  text-size-adjust: 1.6em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
  }
  .profile {
    width: 50%;
  }
  .adress {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .adress__visit {
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=index.css.map */
