@use "variables" as var;
footer {
  height: 100%;
  width: 100%;
  background-color: var.$color-secondary;
  font-size: 1.2rem;
  ul {
    list-style-type: none;
  }
  .adress {
    width: 80%;
    align-items: center;
    justify-content: space-between;
  }
}
